@import './reset.scss';

$mainColor : #ff0000;

.red {
    color: $mainColor;
}

.my-alert {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

.my-alert2 {
    @extend .my-alert; //my-alert의 속성을 그대로 가져와주세요.
    background: #ffe591; //원하는 부분만 바꾸기
}


// div.container h4 {
//     color: blue;
// }
// div.container p {
//     color: green;
// }

// div.container {
//     h4 {
//         color: blue;
//     }
//     p {
//         color: green;
//     }
// }